@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  min-height: 100svh;
  font-family: sans-serif;

  @apply flex flex-col items-center justify-center gradient-100;

  & main {
    @apply w-full flex-1 px-4 md:px-28;
  }
}
