/* view link */
.link {
  @apply text-sm py-1.5 px-4 rounded-full text-white bg-gray-600/60 animate-slideFromBottom duration-300;
}

.link:hover {
  @apply bg-gray-600/70;
}

/* form */
.form {
  box-shadow: 0 0 15px #0891b280;
  @apply border border-cyan-600 rounded-lg animate-slideFromBottom;
  @apply w-full max-w-sm p-4 flex flex-col items-center justify-center gap-5;
}

/* input */
.input-element {
  @apply w-full flex flex-col gap-0.5;
}

.label {
  @apply flex flex-row items-center gap-1;
}

.input {
  @apply bg-gray-100 text-black outline-none p-2 rounded-md;
}

.input:focus {
  @apply outline outline-1 outline-cyan-600;
}

/* submit button */
.btn {
  transition: 300ms;
  @apply mt-2 w-full flex items-center justify-center h-12 rounded-md border border-cyan-600 font-semibold;
}

.btn:disabled,
.form:invalid .btn {
  @apply cursor-not-allowed;
}

.form:valid .btn:enabled:hover {
  box-shadow: 0 0 15px #0891b2;
}
